.story-script-regular {
  font-family: "Story Script";
}

body{
  margin: 0;
  overflow: hidden;
}

.left-side > img:first-of-type{
  height: 100vh;
  width: 50vw;
}

.main{
  display: flex;
  flex-direction: row;
}

.right-side{
  display: flex;
  flex-direction: column;
}

.right-side > h1:first-of-type{
  background-color: #f1f5f7;
  height: 35vh;
  margin: 0;
  font-family: "Story Script";
  display: flex;
  align-items: center;
  box-sizing:border-box;
  padding: 20px;
}

.right-side > form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: bisque;
  height: 65vh;
  box-sizing: border-box;
  padding: 20px;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.input-container > input{
  width: fit-content;
}

form > h1{
  width: fit-content;
  margin-left: 10px;
}

button{
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.input-group{
  display: flex; 
  flex-direction: row; 
  gap: 32px; 
  margin: 10px;
}